.error{
    border: solid #ff0000;
}
.correct{
    border: thin #ffffff;
}

.recite-board{
    width: 80%;
    height: 50%;
    margin: 0 auto;
}
.recite{
    padding-left: 20%;
    text-align: left;
}

.show-switch{
    float: right;
}

.modal-title{
    text-align: center;
}
.function-btn-group{
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}
.finishNum{
    padding-right: 30%;
}
#wordInput{
    border: solid;
}
#deleteErrorWord{
    visibility: hidden;
}