<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
        <div>
            {{content.name}}
        </div>
        <div>
            {% for answer in content.answer_list %}
                <div>
                    {{answer.question.name}}
                </div>
            {% if answer.question.title %}
                <div>
                    {{answer.question.title}}
                </div>
            {% endif %}
                <div>
                    {{answer.content}}
                </div>
            {% endfor %}
        </div>
</div>
</body>
</html>