<!DOCTYPE html>
<html ng-app="ShanbayApp" xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/app/style/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/static/app/style/css/bootstrap/bootstrap-switch.min.css" rel="stylesheet">
    <link href="/static/app/style/css/shanbay_web/index.css" rel="stylesheet">
    <title>背单词</title>
</head>

<body>
<div class="fill-head">
</div>
<div class="main">
    <div class="container" ng-controller="ShanbayController">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div class="main-content">
                    <ul>
                        <div ng-repeat="elem in CategoryObj">
                            <a href="javascript:" ng-click="reciteWords('{{elem.category_id}}');">
                                <li>{{elem.category_name}}</li>
                            </a>
                        </div>
                    </ul>
                </div>
            </div>

            <!-- 按钮触发模态框 -->
            <button id="startReciteBtn" style="display: none" id="launch" data-toggle="modal"
                    data-target="#reciteModal">
            </button>

            <!-- 模态框（Modal） -->
            <div class="modal fade" id="reciteModal" tabindex="-1" role="dialog"
                 aria-labelledby="modelLabel" aria-hidden="true">

                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close"
                                    data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" style="color: blue" id="modelLabel">
                                {{curWordListObj.category}}
                            </h4>
                        </div>

                        <div class="modal-body">
                            <div class="recite-board">

                                <div>
                                    <span id="chinese" class="recite"
                                          ng-bind="curWordListObj.wordList[curWordListObj.wordIndex]['chinese']"></span>
                                    <span class="show-switch">
                                        <input type="checkbox" name="showChineseBox" checked>
                                    </span>
                                </div>

                                <hr>
                                <div>
                                    <span id="soundMark" class="recite"
                                          ng-bind="curWordListObj.wordList[curWordListObj.wordIndex]['sound_mark']">
                                    </span>
                                    <span class="show-switch">
                                        <input type="checkbox" name="showSoundMarkBox" checked>
                                    </span>
                                </div>

                                <hr>

                                <div>
                                    <span id="hint" class="recite"
                                          ng-bind="curWordListObj.wordList[curWordListObj.wordIndex]['hint']"></span>
                                    <span class="show-switch">
                                        <input type="checkbox" name="showHintBox" checked>
                                    </span>
                                </div>

                                <hr>

                                <div>
                                    <audio id="player" height="0" width="0">
                                        <source src="" type="audio/mpeg"/>
                                    </audio>
                                </div>
                                <div>
                                    <input id="wordInput" ng-class="{error: isError, correct: !isError}" type="text"
                                           class="form-control" ng-keypress="recite($event);">
                                </div>
                                <hr>
                                <div class="function-btn-group">
                                    <button type="button" class="btn btn-primary" ng-click="playSound();">
                                        发音
                                    </button>
                                    <button id="lastReciteBtn" type="button" class="btn btn-primary" ng-click="lastWord()">
                                        上一个
                                    </button>
                                    <button id="nextReciteBtn" type="button" class="btn btn-primary" ng-click="nextWord()">
                                        下一个
                                    </button>
                                    <button id="reciteErrorWords" type="button" class="btn btn-primary"
                                            ng-click="reciteError()">
                                        错词背诵
                                    </button>
                                    <button id="deleteErrorWord" type="button" class="btn btn-primary"
                                            ng-click="deleteError()">
                                        删除错词
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <div>
                                <span class="finishNum">已完成:{{curWordListObj.finishNum}}</span>
                                <button id="closeReciteBtn" type="button" class="btn btn-primary"
                                        data-dismiss="modal">关闭
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal -->


                <div class="col-md-2">
                </div>
            </div>
        </div>
    </div>
    <div class="fill-foot">
    </div>
    <!--tool JS-->
    <script type="text/javascript" src="/static/app/vender/jquery.min.js"></script>
    <script type="text/javascript" src="/static/app/vender/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/app/vender/bootstrap-switch.min.js"></script>
    <script type="text/javascript" src="/static/app/vender/angularJS/angular.js"></script>

    <!--my JS-->
    <script type="text/javascript" src="/static/app/scripts/controllers.js"></script>
    <script type="text/javascript" src="/static/app/scripts/services.js"></script>
</div>
</body>
</html>